In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

pd.options.display.max_columns = None
pd.options.display.max_rows = None

In [2]:
polls = pd.read_csv('../Data/president_polls.csv', usecols=['state', 'start_date', 'answer', 'pct', 'pollster_id'], 
                    parse_dates= ['start_date'], infer_datetime_format='True')

In [3]:
candidates = ['Biden', 'Sanders', 'Trump']
polls = polls[polls.answer.isin(candidates)]

In [4]:
# import required libraries
#import pandas as pd
#import numpy as np

# creating initial dataframe
#bridge_types = ('Arch','Beam','Truss','Cantilever','Tied Arch','Suspension','Cable')
#bridge_df = pd.DataFrame(bridge_types, columns=['Bridge_Types'])

# converting type of columns to 'category'
#bridge_df['Bridge_Types'] = bridge_df['Bridge_Types'].astype('category')


# Assigning numerical values and storing in another column
#bridge_df['Bridge_Types_Cat'] = bridge_df['Bridge_Types'].cat.codes
#bridge_df

In [5]:
polls['answer']=polls['answer'].astype('category')

In [6]:
polls.dtypes

state                  object
pollster_id             int64
start_date     datetime64[ns]
answer               category
pct                   float64
dtype: object

In [7]:
polls.head()

      state  pollster_id start_date   answer   pct
0  Michigan         1528 2020-03-07  Sanders  45.5
1  Michigan         1528 2020-03-07    Trump  43.4
2  Michigan         1528 2020-03-07    Biden  44.1
3  Michigan         1528 2020-03-07    Trump  45.5
4  Michigan          568 2020-03-06    Biden  45.0

In [16]:
polls['candidate'] = polls['answer'].cat.codes
polls.head()

      state  pollster_id start_date   answer   pct  candidate
0  Michigan         1528 2020-03-07  Sanders  45.5          1
1  Michigan         1528 2020-03-07    Trump  43.4          2
2  Michigan         1528 2020-03-07    Biden  44.1          0
3  Michigan         1528 2020-03-07    Trump  45.5          2
4  Michigan          568 2020-03-06    Biden  45.0          0

Examples
--------
>>> df = pd.DataFrame({"A": ["foo", "foo", "foo", "foo", "foo",
...                          "bar", "bar", "bar", "bar"],
...                    "B": ["one", "one", "one", "two", "two",
...                          "one", "one", "two", "two"],
...                    "C": ["small", "large", "large", "small",
...                          "small", "large", "small", "small",
...                          "large"],
...                    "D": [1, 2, 2, 3, 3, 4, 5, 6, 7],
...                    "E": [2, 4, 5, 5, 6, 6, 8, 9, 9]})
>>> df
     A    B      C  D  E
0  foo  one  small  1  2
1  foo  one  large  2  4
2  foo  one  large  2  5
3  foo  two  small  3  5
4  foo  two  small  3  6
5  bar  one  large  4  6
6  bar  one  small  5  8
7  bar  two  small  6  9
8  bar  two  large  7  9

This first example aggregates values by taking the sum.

>>> table = pd.pivot_table(df, values='D', index=['A', 'B'],
...                     columns=['C'], aggfunc=np.sum)
>>> table
C        large  small
A   B
bar one    4.0    5.0
    two    7.0    6.0
foo one    4.0    1.0
    two    NaN    6.0

In [17]:
polls.pivot_table(values = 'pct', index=['pollster_id'], columns=['candidate'])

candidate            0          1          2
pollster_id
11           53.400000  52.000000  43.425926
24           43.000000        NaN  50.500000
48           47.800000  44.700000  44.550000
102          34.000000  34.000000  62.000000
143          51.000000  49.000000  43.100000
147          45.000000        NaN  50.000000
149          52.500000  52.500000  34.666667
176          50.475000  51.400000  42.106667
228          51.000000  48.750000  45.894737
289          44.000000  41.428571  51.250000
294          45.000000  45.000000  48.500000
320          48.000000  46.000000  41.000000
329          49.500000  49.500000  45.777778
335          50.750000  49.666667  43.733333
383          50.562500  49.666667  44.200000
396          49.785714  48.214286  43.818182
399          47.000000  44.333333  44.833333
415          48.000000  49.000000  40.000000
425          51.950000  51.700000  34.277778
438          55.000000  56.000000  36.250000
446          51.000000  49.000000  44.250000
458          40.600000  38.600000  43.760000
460          53.600000  53.440000  39.793814
468          47.000000  47.000000  46.500000
495                NaN  51.666667  42.000000
506          40.200000  40.050000  54.018182
509          48.666667  48.000000  45.700000
525          44.000000  46.000000  45.250000
534          49.833333  46.500000  46.222222
568          47.876923  48.046154  41.755932
573          46.690000  46.320000  43.172549
590          48.562500  47.125000  40.857143
610          46.000000  47.000000  50.500000
744          43.180000  42.646667  37.381538
750          45.000000        NaN  49.500000
788          38.400000  35.750000  55.700000
801          48.250000  46.500000  47.714286
847          47.100000  44.200000  46.933333
927          49.666667  47.500000  41.750000
988          41.500000  39.000000  45.250000
999          45.000000  44.000000  38.333333
1027         49.000000  48.950000  38.825000
1056         42.333333  37.666667  52.166667
1075         47.428571  46.833333  45.000000
1102         52.693023  51.425000  48.413131
1166         54.000000        NaN  35.000000
1189         44.857143  44.461538  39.303030
1205         48.750000  48.000000  44.928571
1218         50.025000  49.575000  50.633333
1232         55.900000  47.100000  44.920000
1240         47.800000        NaN  42.466667
1243         35.000000  44.000000  40.142857
1253         55.000000  52.500000  38.250000
1293         46.000000  35.500000  46.050000
1300         49.000000  47.000000  40.200000
1304               NaN  54.100000  41.033333
1307         44.000000  45.333333  42.250000
1323         60.000000  61.000000  34.000000
1327         34.600000  32.500000  38.880000
1329         42.000000  37.000000  43.000000
1357         47.300000        NaN  46.800000
1361         52.222222  50.777778  43.380952
1363         57.800000  58.900000  30.833333
1365         47.971429  45.342857  46.696667
1406               NaN  50.000000  43.000000
1412               NaN        NaN  52.000000
1416         41.538462  37.833333  38.339080
1418         41.500000  33.000000  52.900000
1424         46.072143  44.775000  45.691304
1447         46.800000  45.750000  44.125000
1450         34.000000        NaN  60.000000
1474         41.014286  40.600000  42.681818
1483         44.424667  42.987333  44.716667
1485         51.000000  50.000000  41.800000
1486         47.500000  47.000000  43.885714
1488         41.000000        NaN  52.000000
1498         47.000000        NaN  41.000000
1499         47.000000  48.000000  42.166667
1503         48.200000        NaN  45.800000
1515         40.000000  44.000000  50.833333
1516         45.933333  43.900000  49.947059
1523         44.000000        NaN  45.500000
1524         51.000000  52.000000  40.000000
1528         46.257143  47.600000  42.588889
1548         43.000000  45.000000  45.666667

In [ ]:
states = ["Maine","New Hampshire","Pennsylvania","Ohio","Michigan","Wisconsin","Minnesota","Iowa","Colorado","Nevada","Arizona","Virginia","North Carolina","Georgia","Florida"]
votes = [4,4,20,18,16,10,10,6,9,6,11,13,15,16,29]

In [ ]:
corr = np.zeros((15,15))
corr[0,] = (0,0.58,0.46,0.61,0.61,0.63,0.57,0.63,0.56,0.53,0.56,0.44,0.43,0.37,0.55)
corr[1,] = (0,0,0.53,0.63,0.64,0.69,0.64,0.7,0.71,0.57,0.64,0.57,0.46,0.39,0.62)
corr[2,] = (0,0,0,0.64,0.61,0.62,0.72,0.56,0.61,0.48,0.64,0.57,0.46,0.39,0.62)
corr[3,] = (0,0,0,0,.9,.86,.81,.84,.57,.67,.65,.48,.59,.53,.62)
corr[4,] = (0,0,0,0,0,0.86,0.79,0.83,0.57,0.68,0.67,0.46,0.55,0.51,0.65)
corr[5,] = (0,0,0,0,0,0,0.8,0.84,0.63,0.66,0.66,0.5,0.51,0.45,0.66)
corr[6,] = (0,0,0,0,0,0,0,0.78,0.66,0.55,0.58,0.6,0.57,0.49,0.56)
corr[7,] = (0,0,0,0,0,0,0,0,0.67,0.65,0.67,0.53,0.53,0.54,0.66)
corr[8,] = (0,0,0,0,0,0,0,0,0,0.62,0.76,0.76,0.57,0.52,0.63)
corr[9,] = (0,0,0,0,0,0,0,0,0,0,0.8,0.43,0.46,0.49,0.64)
corr[10,] = (0,0,0,0,0,0,0,0,0,0,0,0.55,0.50,0.52,0.66)
corr[11,] = (0,0,0,0,0,0,0,0,0,0,0,0,0.77,0.73,0.67)
corr[12,] = (0,0,0,0,0,0,0,0,0,0,0,0,0,0.81,0.64)
corr[13,] = (0,0,0,0,0,0,0,0,0,0,0,0,0,0,0.61)

statescorr = []
#Building correlation matrix between states
statescorr = corr + np.matrix.transpose(corr) + np.identity(15)